In [5]:
# data science
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# API
import requests
import json

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

In [6]:
df = pd.read_csv('AQI_clean.csv')
df.head()

,country,city,aqi_value,aqi_category,co_aqi_value,co_aqi_category,ozone_aqi_value,ozone_aqi_category,no2_aqi_value,no2_aqi_category,pm2.5_aqi_value,pm2.5_aqi_category,latitude,longitude
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833

In [7]:
engine = create_engine("sqlite:///aqi.sqlite")

In [9]:
# query = """CREATE TABLE "aqi" (
# 	"id" integer Primary key,
# 	"country" varchar(100),
# 	"city" varchar(100),
# 	"aqi_value" integer,
# 	"aqi_category" varchar(30),
# 	"co_aqi_value" integer,
# 	"co_aqi_category" varchar(30),
# 	"ozone_aqi_value" integer,
# 	"ozone_aqi_category" varchar(30),
# 	"no2_aqi_value" integer,
# 	"no2_aqi_category" varchar(30),
# 	"pm2.5_aqi_value" integer,
# 	"pm2.5_aqi_category" varchar(30),
# 	"latitude" float,
# 	"longitude" float
# );"""

# with engine.connect() as conn:
#     conn.execute(text(query))

In [ ]:
#df.to_sql("aqi", con=engine, index=False, method="multi", if_exists="append")

In [10]:
 # INSPECT to confirm existence

# Create the inspector and connect it to the engine
inspector_gadget = inspect(engine)

# Collect the names of tables within the database
tables = inspector_gadget.get_table_names()

# print metadata for each table
for table in tables:
    print(table)
    print("-----------")
    
    # get columns
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

aqi
-----------
id INTEGER
country VARCHAR(100)
city VARCHAR(100)
aqi_value INTEGER
aqi_category VARCHAR(30)
co_aqi_value INTEGER
co_aqi_category VARCHAR(30)
ozone_aqi_value INTEGER
ozone_aqi_category VARCHAR(30)
no2_aqi_value INTEGER
no2_aqi_category VARCHAR(30)
pm2.5_aqi_value INTEGER
pm2.5_aqi_category VARCHAR(30)
latitude FLOAT
longitude FLOAT

In [17]:
# USER SELECTED COUNTRY, RETURNS TOP 10 CITIES, HIGHEST TO LOWEST AQI
user_input = "All"

if user_input == "All":
    where_clause = ""
else:
    where_clause = f"WHERE country = '{user_input}'"

query = f"""
    SELECT 
        country,
        city,
        aqi_value,
        aqi_category
    FROM 
        aqi
    {where_clause}
    ORDER BY
        aqi_value DESC
    LIMIT
        10; 
"""

df2 = pd.read_sql(text(query), con=engine)
df2.head(20)

,id,country,city,aqi_value,aqi_category,co_aqi_value,co_aqi_category,ozone_aqi_value,ozone_aqi_category,no2_aqi_value,no2_aqi_category,pm2.5_aqi_value,pm2.5_aqi_category,latitude,longitude
0,11106,Brazil,Suzano,247,Very Unhealthy,16,Good,0,Good,46,Good,247,Very Unhealthy,-23.5428,-46.3108
1,11002,Brazil,Guarulhos,217,Very Unhealthy,13,Good,0,Good,39,Good,217,Very Unhealthy,-23.4628,-46.5328
2,2508,Brazil,Itaquaquecetuba,172,Unhealthy,7,Good,0,Good,22,Good,172,Unhealthy,-23.4864,-46.3486
3,7828,Brazil,Mendes,172,Unhealthy,8,Good,1,Good,17,Good,172,Unhealthy,-22.5269,-43.7328
4,2948,Brazil,Barueri,170,Unhealthy,6,Good,1,Good,20,Good,170,Unhealthy,-23.5111,-46.8764
5,395,Brazil,Francisco Morato,169,Unhealthy,7,Good,0,Good,21,Good,169,Unhealthy,-23.2817,-46.7425
6,10734,Brazil,Cotia,169,Unhealthy,6,Good,1,Good,20,Good,169,Unhealthy,-23.6042,-46.9194
7,2958,Brazil,Caieiras,165,Unhealthy,6,Good,1,Good,19,Good,165,Unhealthy,-23.3644,-46.7408
8,11389,Brazil,Palmas,163,Unhealthy,6,Good,4,Good,3,Good,163,Unhealthy,-10.1844,-48.3336
9,11390,Brazil,Palmas,163,Unhealthy,6,Good,4,Good,3,Good,163,Unhealthy,-26.4839,-51.9908

In [28]:
# USER SELECTED COUNTRY, RETURNS TOP 10 CITIES, LOWEST TO HIGHEST AQI
query = """
    SELECT 
        country,
        city,
        aqi_value,
        aqi_category
    FROM 
        aqi
    WHERE 
        country = "Brazil"
    ORDER BY
        aqi_value ASC
    LIMIT
        10;
    
"""

df2 = pd.read_sql(text(query), con=engine)
df2.head(20)

  country          city  aqi_value aqi_category
0  Brazil     Andradina         11         Good
1  Brazil    Correntina         11         Good
2  Brazil  Ponta Grossa         12         Good
3  Brazil        Itaqui         12         Good
4  Brazil      Dourados         13         Good
5  Brazil      Guanambi         13         Good
6  Brazil      Canarana         13         Good
7  Brazil       Peabiru         13         Good
8  Brazil     Jaguarari         13         Good
9  Brazil     Petrolina         14         Good

In [27]:
# USER SELECTED COUNTRY AND AQI CATEGORY, RETURNS TOP 10 CITIES, LOWEST TO HIGHEST AQI
query = """
    SELECT 
        *
    FROM 
        aqi
    WHERE 
        aqi_category = "Good"
        AND country = "Brazil"
    ORDER BY
        aqi_value ASC
    LIMIT
        10;
    
"""

df2 = pd.read_sql(text(query), con=engine)
df2.head(20)

,id,country,city,aqi_value,aqi_category,co_aqi_value,co_aqi_category,ozone_aqi_value,ozone_aqi_category,no2_aqi_value,no2_aqi_category,pm2.5_aqi_value,pm2.5_aqi_category,latitude,longitude
0,9821,Brazil,Andradina,11,Good,1,Good,11,Good,0,Good,11,Good,-20.8958,-51.3789
1,15561,Brazil,Correntina,11,Good,0,Good,11,Good,0,Good,3,Good,-13.3428,-44.6369
2,1308,Brazil,Ponta Grossa,12,Good,1,Good,12,Good,0,Good,9,Good,-25.0994,-50.1583
3,5444,Brazil,Itaqui,12,Good,1,Good,12,Good,0,Good,8,Good,-29.1250,-56.5528
4,6689,Brazil,Dourados,13,Good,1,Good,13,Good,0,Good,12,Good,-22.2208,-54.8058
5,8931,Brazil,Guanambi,13,Good,0,Good,11,Good,0,Good,13,Good,-14.2228,-42.7808
6,9281,Brazil,Canarana,13,Good,0,Good,12,Good,0,Good,13,Good,-11.6850,-41.7689
7,14037,Brazil,Peabiru,13,Good,1,Good,9,Good,0,Good,13,Good,-23.9128,-52.3428
8,14753,Brazil,Jaguarari,13,Good,0,Good,10,Good,1,Good,13,Good,-10.2600,-40.1958
9,831,Brazil,Petrolina,14,Good,0,Good,14,Good,0,Good,13,Good,-9.3928,-40.5078

In [12]:
 # Declare a Base using `automap_base()`
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(autoload_with=engine)

# Print all of the classes mapped to the Base

print(list(Base.classes))

[<class 'sqlalchemy.ext.automap.aqi'>]